{% extends 'base.html' %}

{% block head %}
<title>image downloader</title>
{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-10 p-md-1 m-md-1 text-center bg-light">
    <div class="col-md-10 p-lg-10 mx-auto my-5">
      <h1 class="display-4 fw-normal">Image Spider</h1>
      <p class="lead fw-normal">Get thousands of images in seconds for your ML projects</p>
    </div>
  </div>
<hr>
    <form action='/image_crawler' method='POST'>
        <label for="number" style="font-size:20px">Number</label>
        <input class="form-control" type="text" name='number' id='number' placeholder="Enter number of images" aria-label="Enter Title">
        <br>
        <label for="keyword" style="font-size:20px">Search keywords</label>
        <input class="form-control" type="text" name='keyword' id='keyword' placeholder="Enter your keyword" aria-label="Enter Author">
        <br>
        <input type='submit' style="background-color:black;color:white;width:150px;
        height:40px;" value='Start Download' >
    </form>
<hr>

{% endblock %}